@font-face {
    font-family: 'Anton';
    src: url('./utils/fonts/Anton/Anton-Regular.ttf') format('ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Anton', sans-serif;
    background-color: #f1f1f1;
    /* width: 100%; */
}

header{
    background-color: #1371c9f6;
    height: 200px;
    width: 100%;
}

header > *{
    transform: translateY(70px);
}

header::after{
    content: '';
    z-index: -1;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 200px;
    background-color: #1371c9f6;
    transform: skewY(-5deg);
}

header img{
    display: block;
    width: 100%;
}

.img{
    position: relative;
    max-width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.about-text{
    background-color: #fff;
    padding: 10px;
    max-width: 650px;
    min-height: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

main{
    flex-grow: 1;
    padding: 15px;
}

main p{
    margin-top: 300px;
    margin-left: 100px;
    margin-right: 100px;
}

section{
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    align-items: center;
    justify-content: center;
    gap: 25px;
}


.card{
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: transform 0.5s;
}

.card:hover{
    transform: scale(1.05);
}

.projectImage{
    width: 100%;
    height: 220px;
    object-fit: contain;
    transition: transform 0.5s;
}

.projectImage:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.projectDescription{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 5px;
    padding-left: 5px;
}

.projectTitle{
    display: flex;
    gap: 10px;
}

.projectTitle span{
    flex-grow: 1;
}

i{
    font-size: 1.4rem;
}

.icon{
    width: auto;
    height: auto;
    transition: transform 0.5s;
}

.icon:hover{
    cursor: pointer;
    transform: scale(1.2);
}

svg{
    width: 25px;
    height: 25px;
    transition: transform 0.5s;
}

footer{
    margin-top: 30px;
    background-color: #1371c9f6;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;

    display: flex;
    gap: 15px;
}

footer img{
    max-width: 250px;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.contact{
    color: #fff;
    max-width: 300px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact p{
    padding: 3px;
}

.email,
.phone{
    display: flex;
    gap: 10px;
}

.icons{
    padding: 10px;
    display: flex;
    gap: 20px;
}

.icons *{
    font-size: 2rem;
}

@media screen and (max-width: 1000px) {

    .about{
        display: block;
    }

    main p{
        margin-top: 200px;
    }

    .img{
        margin: 10px;
        max-width: 170px;
        float: left;
    }

    .about-text{
        margin: auto;
        margin-top: 30px;
    }
}

@media screen and (max-width: 500px){
    header{
        flex-direction: column;
    }

    .about{
        display: flex;
        flex-direction: column;
    }

    .img{
        max-width: 250px;
    }

    main{
        margin-top: 350px;
    }

    footer{
        height: auto;
        padding: 20px;
        flex-direction: column;
    }

    .contact{
        max-width: 250px;
    }
}